.gitconfig
CMakeLists.txt.user
build/
.project
Makefile
buildlib/
release/
.cproject
.settings
*.orig
*~
.idea
.cache
compile_commands.json
# deb packaging directories
debian/
debtmp/

# Node.js / webui
webui/node_modules/
webui/dist/
webui/.env
webui/.env.local
*.tsbuildinfo
