WEBBRIDGE_APP_NAME=dlt-webbridge
WEBBRIDGE_APP_VERSION=0.1.0
WEBBRIDGE_HOST=127.0.0.1
WEBBRIDGE_PORT=8008
WEBBRIDGE_LOG_LEVEL=info
WEBBRIDGE_HEARTBEAT_INTERVAL_SEC=5.0
WEBBRIDGE_CORS_ALLOWED_ORIGINS=["http://127.0.0.1:5173","http://localhost:5173"]
